/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
textarea {
  -webkit-user-select: auto;
  user-select: auto;
}

/* --- CORREÇÃO PARA IPHONE (iOS) --- */
input[type="date"],
input[type="text"],
input[type="number"],
input[type="month"],
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  touch-action: manipulation;

  /* 2. Remove o efeito "elástico" (pull-to-refresh) ao arrastar a tela pro topo/fundo */
  overscroll-behavior-y: none;

  /* 3. Impede que o usuário selecione os textos sem querer ao segurar o dedo na tela */
  -webkit-user-select: none;
  /* Safari */
  user-select: none;
  /* Padrão */

  /* 4. Remove aquele quadrado azul/cinza feio que pisca quando você clica num botão/link no celular */
  -webkit-tap-highlight-color: transparent;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  border: none;
}

a,
button,
img,
div {
  -webkit-touch-callout: none;
}

/*Animações*/

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-30px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}